.block {
    width: 630px;
    float: left;
}

.alt-slider {
    overflow-x: scroll;
}

.alt-slider > .body {
    position: relative;
    left: 0;
    display: inline-flex;
}

.alt-slider > .body > .item {
    width: 210px;
}

.alt-slider > .body > .item > .img-block > img {
    width: 200px;
}