@import url('https://fonts.googleapis.com/css?family=Questrial');

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
}

.scroll_wrapper {
    border: 1px solid #C0C0C0;
    height: 10px;
    border-radius: 20px;
}

.scroll_bar {
    height: 10px;
    border-radius: 20px;
    background-color: white;
}

.block {
    background-color: black;
    padding: 60px;
    border-radius: 30px;
    width: 630px;
    float: left;
}

.scroll_wrapper {
    opacity: 1;
}

.alt-slider > .body > .item,
.alt-slider > .body > .item:hover {
    color: white;
    font-family: 'Questrial', sans-serif;
}

.alt-slider > .body > .item > .img-block > img {
    border: 1px solid white;
    height: 152px;
}

