body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 200px;
}

.block {
    width: 630px;
    float: left;
}

.alt-slider > .body {
    position: relative;
    display: inline-flex;
    text-align: unset;
}

.alt-slider > .body > .item {
    width: 210px;
    text-decoration: none;
    color: black;
    margin: 15px 0;
}

.alt-slider > .body > .item:hover {
    text-decoration: underline;
}

.alt-slider > .body > .item > .img-block {
    margin-bottom: 10px;
}

.alt-slider > .body > .item span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.alt-slider > .body > .item > .img-block > img {
    width: 200px;
}

.alt-slider > .body > .item > .img-block > img:hover {
    opacity: .7;
    transition: .8s;
}

